
#banner{    
    z-index: 4;
    width: 100%;
    aspect-ratio: 3.5/1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    user-select: none;
}
#bannerleft, #bannerright{
    z-index: 999;
    width: 30%;
    height: 100%;
    cursor: pointer;
}
#banner>img{
    position: absolute;
    width: 100%;
    aspect-ratio: 3.5/1;
}
.animated{
    transition: 0.5s ease;
}
#pager{
    position: relative;
    top: -0.7vw;
    display: flex;
    justify-content: center;
    gap: 0.2vw;
}
.pager-button{
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    cursor: pointer;
    user-select: none;
}
.pager-button-active{
    background-color: #aaa;
}