*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header{
    z-index: 100;
    width: 100%;
    aspect-ratio: 19/1;
    background-image: url("../images/headerbg.png");
    background-position-y: 70%;
    position: sticky;
    display: flex;
    flex-direction: row;
    padding: 10px;
    top: 0;
}
#headerLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}
#headerLeft>a{
    width: 50%;
    height: 100%;
    display: flex;
    margin-right:50% ;
    align-items: center;
}
#logo{
    width: 100%;
    cursor: pointer;
    margin-left: 5%;
    filter: opacity(50%);
    transition: filter 0.5s ease;
}
#controllerLogo{
    height: 1.6vw;
    width: 2.5vw;
    cursor: pointer;
    user-select: none;
    filter: opacity(50%);
    transition: filter 0.2s ease;
}
#logo:hover ,#controllerLogo:hover{
    filter: opacity(100%);
}
nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: Cinzel;
}



:root{
    --x: 0;
	--y: 50px;
}
.button {
    color:rgba(70, 70, 70, 1);
    text-decoration: none;
    font-family: cinzelregular;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    transition: color ease 0.5s;
    font-size: 1vw;
    width: 13vw;
	
	padding: 0.8em 2em;
	cursor: pointer;
	border-radius: 20px 20px 20px 100px;
	border: 2px solid transparent;
	/*background: linear-gradient(#151515, #151515) padding-box, border-box radial-gradient(farthest-corner at var(--x) var(--y), #998200, #000000);*/
    background: linear-gradient(#151515, #151515) padding-box, 
            border-box radial-gradient(farthest-corner at var(--x) var(--y), #998200, #000000);
background-origin: padding-box, border-box;
}
.button:hover{
    color:rgba(150, 150, 150, 1);
}

@font-face {
    font-family: 'cinzelregular';
    src: url('../fonts/cinzel/cinzel-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/cinzel/cinzel-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

footer{
    background-color: #191919;
    width: 100%;
    aspect-ratio: 30/1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #777777;
    font-size: 1vw;
}
footer a{
    display: flex;
    align-items: center;
}
footer img{
    width: 2vw;
}
#middle{
    width: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    background-attachment: fixed;
    
}
#main{
    height: 100%;
    width: 66%;
    margin: auto;
    
    background-color: rgba(51, 51, 51,0.9);
}
.contentSlicer{
    width: 100%;
    display: flex;
    justify-content: left;
}
.firstHr{
    margin-right: 0;
    height: 0.2vh;
    width: 50%;
    background: linear-gradient(to left, #998200, #333333);
    border: none;
}
.secondHr{
    margin-left: 0;
    width: 50%;
    background: linear-gradient(to right, #998200, #333333);
    height: 0.2vh;
    border: none;
}
.smallerHr{
    width: 30%;
}
h1{
    text-align: center;
}
/*modal*/
#modal{
    visibility: hidden;
    z-index: 999;
    position:fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modalPanel{
    position: relative;
    color: white;
    background-color: #333333;
    width: 20%;
    height: 50%;
}
#modalPanel>h3{
    text-align: center;
    font-size: 3vh;
}
#modalCheckbox{
    line-height: 5vh;
    font-size: 2.5vh;
    margin-left:10%;
    display: flex;
    flex-direction: column;
}
#modalCheckbox input{
    width: 20px;
    height: 20px;
}
#modalClose{
    font-size: 2vh;
    cursor: pointer;
    user-select: none;
    font-family: Arial;
    position: absolute;
    top: 5px;
    right:5px;
}